<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgO7kxgMc490zoUm0FOa88LXYULzr0HII</string>
	<key>GCM_SENDER_ID</key>
	<string>422745796264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucas.SafeApp</string>
	<key>PROJECT_ID</key>
	<string>safeapp-e1a64</string>
	<key>STORAGE_BUCKET</key>
	<string>safeapp-e1a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422745796264:ios:6a1dbfa355abc404c01c9d</string>
</dict>
</plist>